.note__item
    button.btn.note__close.p-0(type="button")
        +icon("x")
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci et illo officia ratione rem, soluta voluptates? Adipisci eaque eligendi quo?
.note__item
    button.btn.note__close.p-0(type="button")
        +icon("x")
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, rerum?
.note__item
    button.btn.note__close.p-0(type="button")
        +icon("x")
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem deleniti enim labore optio recusandae?
