.form
    form(action="#")
        .form__group
            .position-relative
                input.form__input(type="text" placeholder="Введите название задачи")
                button.btn.form__btn(type="submit")
                    +icon("send")
            .form__error-txt Введите название задачи
