// Add .is-active is show
aside.sidebar.is-active
    button.btn.sidebar__close(type="button")
        +icon("x-lg")

    section.sidebar__top
        header.sidebar__header
            .checkbox.sidebar__checkbox
                input.checkbox__input(id="sbTask" type="checkbox")
                label.checkbox__label(for="sbTask")

            h2.h5.sidebar__tlt.is-inactive Сходить в магазин

        form(action="#")
            .form
                .mb-2
                    textarea.form__input.sidebar__text(placeholder="Описание задачи")

                .text-end
                    button.btn.btn-primary.btn-sm.px-3.text-white(type="button") Добавить

        .note.mt-30
            include ../note/note

    footer.sidebar__footer
        time.sidebar__date Создано: 28 мая 2021 г.

        .sidebar__remove
            a.sidebar__remove-link(href="#")
                +icon("trash")



